

/* SearchBar */
.search-bar {
	display: flex;
	align-items: center; /* Centre verticalement le champ dans son conteneur */
}
.search-bar input {
	width: 100%;
	max-width: 150px; /* Largeur réduite */
	height: 30px; /* Hauteur uniforme */
	font-size: 0.85rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 8px;
	box-sizing: border-box; /* Inclut le padding dans la largeur */
}

/* Dropdown */
.dropdown {
	display: flex;
	align-items: center; /* Centre verticalement le champ dans son conteneur */
}
.dropdown select {
	width: 100%;
	max-width: 150px; /* Largeur alignée avec le champ de recherche */
	height: 30px; /* Même hauteur que le champ de recherche */
	font-size: 0.85rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 8px;
	background-color: var(--bg-color-light);
	color: var(--text-color-dark);
	box-sizing: border-box; /* Inclut le padding dans la largeur */
}

/* HighlightCheckbox */
.highlight-checkbox {
	display: flex;
	align-items: center; /* Centre verticalement la case et le texte */
	gap: 8px; /* Espacement entre la case et le texte */
}
.highlight-checkbox input {
	width: 16px; /* Taille réduite */
	height: 16px; /* Taille réduite */
	cursor: pointer; /* Indique que c'est interactif */
}
.highlight-checkbox span {
	font-size: 0.85rem; /* Taille du texte réduite */
	color: var(--text-color-dark);
}
